<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="viewport-fit=cover, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../css/all.css">
    </head>

    <body>
        {% block before_main %}{% endblock %}
        {% block main %}{% endblock %}
        {% block after_main %}{% endblock %}

        <script src="../js/app.js"></script>
    </body>
</html>
