.header{
    z-index: 2;
}
header#top {
    z-index: 1;
}
/*h1,h2,h3,h4,h5,h6{*/
/*    font-family: 'PF DinDisplay Pro';*/
/*}*/
/*h1{*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/
/*h2,h3,h4,h5,h6{*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/
a,i,input,label{
    transition: background-color, color 700ms;
}
p{
    font-family: 'PF DinDisplay Pro';
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
p>strong{
    font-family: 'PF DinDisplay Pro';
    font-weight: 500;
    font-style: normal;
}
/*SECTIONS*/
section{
    word-break: break-word;
}
.line-full{
    width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)
}
.line-half-left{
    width: calc(50% - 2rem);top: 50%;transform: translate(0%, -50%);
}
.line-half-right{
    width: calc(50% - 2rem);top: 50%;right: calc(50% - 2rem);transform: translate(100%, -50%);
}
@media (max-width: 768px) {
    .line-half-left,.line-full, .line-half-right{
        margin: 0 auto;
        width: .5rem;
        height: 4rem;
        background: #b3b3b3;
        position: unset!important;
        transform: unset!important;
    }
    .line-half-right{
        display: none;
    }
}
.overlay-section{
    min-height: 45rem;
    position: relative;
}
.overlay-section::after {
    background-image: url(../images/banner1.jpg);
    background-color: rgba(255,255,255,.75);
    background-blend-mode: overlay;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8rem;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 52rem;
    z-index: -1;
    content: '';
}
.overlay-section-white{
    background-size:cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,.87);
    background-position: bottom center;
    min-height: 27rem;
}
.overlay-section-white-half{
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-color: rgba(246,246,246,.50);
    background-position: right;
    background-size: 50% 100%;
    min-height: 27rem;
}
@media (max-width: 1024px){
    .overlay-section-white-half{
        background-size: auto 100%;
    }
    .has-media-on-the-right > figure{
        padding-left: 0!important;
        width: 100%!important;
        float: none!important;
    }
    .wp-block-media-text > figure{
        padding-right: 0!important;
        width: 100%!important;
        float: none!important;
    }
}
.bgl-transparent{
    background: transparent;
}
.partners-item{
    box-shadow: -5px 0 0px 0px #3ec512, 0 0 10px 0 rgba(0,0,0,.3);
    width: 120px;
    height: 60px;
}
.metal-item{
    box-shadow: -5px 0 0px 0px #3ec512, 0 0 10px 0 rgba(0,0,0,.3);
    height: 100%;
}
.partners-item img{
    width: auto;
    height: 100%;
    max-height: 60px;
}
.partners-item > div{
    background-color: #f9f9f9;
}
.overlay{
    background-size: cover;
}
.overlay:after {content:'';position:absolute;top:0;width:100%;height:100%;background: rgba(0,0, 0, 0.4);}
.overlay > a{
    z-index: 1;
}
.shadow-around {
    box-shadow: 0 0px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}
/*TEXT*/
ul.list-none > li{
    list-style: none!important;
    list-style-position: unset!important;
}
ol.list-none > li{
    list-style: none!important;
    list-style-position: unset!important;
}
.shadow-mlgreen:hover{
    box-shadow: 0 0px 20px rgba(62,197,18,.7);
}
.dotted{
    text-decoration: underline dashed;
}
.shadow-blue{
    box-shadow: 0 10px 20px rgba(41,104,248,.35);
}
.line-unset{
    line-height: unset;
}
.wp-block-media-text.has-media-on-the-right > figure{
    padding-top: 1rem;
    padding-left: 1rem;
    width: 40%;
    float: right;
}
.wp-block-media-text > figure{
    padding-top: 1rem;
    padding-right: 1rem;
    width: 40%;
    float: left;
}
.alignwide{
    margin: 0;
}
.section-text ul {
    font-weight: 300;
    padding-left: 1.5rem;
    list-style: none; /* Remove default bullets */
}
.section-text ul li::before {
    font-size: 1.25rem;
    content: "•";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #2968f8; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
/* HAMBURGER MENU */
.hamburger {
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
    background: #333;
}

.hamburger__top-bun {
    transform: translateY(-5px);
}

.hamburger__bottom-bun {
    transform: translateY(3px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(-1px);
}

.open .hamburger__top-bun {
    transform:
            rotate(45deg)
            translateY(0px);
}

.open .hamburger__bottom-bun {
    transform:
            rotate(-45deg)
            translateY(0px);
}
/*MODAL*/
.modal {
    transition: opacity 0.25s ease;
    z-index: 9999;
}
body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

/*ACCORDING*/
/* Tab content - closed */
.tab-content {
    max-height: 0;
    /*-webkit-transition: max-height .65s;*/
    /*-o-transition: max-height .65s;*/
    /*transition: max-height .65s;*/

}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1.25rem; /*.p-5*/
    border-left-width: 4px; /*.border-l-2*/
    border-color: #3ec512; /*.border-indigo*/

}
/* Label formatting when open */
.tab input:checked + label{
    /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
    font-size: 1.25rem; /*.text-xl*/
    padding: 2rem; /*.p-5*/
    border-left-width: 4px; /*.border-l-2*/
    border-color: #3ec512; /*.border-indigo*/
    color: #3ec512; /*.text-indigo*/
}
.tab input + label{
    position: relative;
    padding: 2rem;
    border-left-width: 4px; /*.border-l-2*/
    border-color: #b3b3b3; /*.border-indigo*/
    color: #35383f; /*.text-indigo*/
    font-family: "PF DinDisplay Pro";
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 1.25rem;
    line-height: 1.75rem;

}
/* Icon */
.tab label::after {
    position: absolute;
    float: right;
    right: 0.5rem;
    top: calc(50% - 0.75rem);
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
/* Icon formatting - closed */
.tab input[type=checkbox] + label::after {
    transition: 800ms;
    font-family: "Font Awesome 5 Free";
    color: white;
    content: "\f078";
    font-weight:bold; /*.font-bold*/
    border-width: 0px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    background-color: #b3b3b3;
}
/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
    content: "\f077";
    background-color: #3ec512; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
}
.tab input[type=checkbox]:hover + label::after {
    background-color: #3ec512; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
}
/*SLIDER*/
.slick-track {
    display: flex !important;
}

.slick-slide {
    display: flex !important;
    height: auto;
}
.slick-list, .slick-track,.examples-items { touch-action:pan-y; }
.slick-slide > div{
    width: 100%;
    margin: 1rem;
}
.slick-prev:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f053';
}
.slick-prev:hover > i{
    transition: color 600ms;
    color: black;
}
.slick-next:hover > i{
    transition: color 600ms;
    color: black;
}
.slick-next:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f053';
}
.gallery-items .slick-next, .gallery-items .slick-prev{
    display: flex!important;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    padding: 1rem;
    width: 50px!important;
    height: 50px!important;
}
.gallery-items .slick-next{
    top: unset!important;
    bottom: 0rem;
    left: 80px;
}

.gallery-items .slick-prev{
    top: unset!important;
    bottom: 0rem;
    left: 17px;
    z-index: 999;
}
.gallery-items .slick-next:hover>i{
    color: white;
}
.gallery-items  .slick-prev:hover>i{
    color: white;
}
/*FILE UPLOAD*/
.custom-file-upload {
    border: 2px solid #3ec512;
    cursor: pointer;
    background: transparent;
    text-align: center;
    color: #3ec512;
}
/*INPUT NUMBER*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}



﻿/*
    Common
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 20%;

}

.wizard > .steps .number
{
    font-size: 1.429em;
    display: none;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}
.wizard > .steps a p{
    color: #6a7080;
}
.wizard > .steps a h4{
    color: #6a7080;
}
.wizard > .steps a{
    text-align: center;
    background: transparent;
    color: #35383f;
    border-radius: 0!important;
}
.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active h4{
    color: #35383f;
}
.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0;
    padding: 1em 1em;
    text-decoration: none;
    border-radius: 0!important;
    color: #6a7080;

}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: white;
    color: transparent;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: transparent;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #FCA5A5;
    color: #fff;
}

.wizard > .content
{
    background: white;
    display: flex;
    align-items: center;
    margin: 0;
    min-height: 20em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0;
    width: 80%;
    box-shadow: 0 0px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}

.wizard > .content > .body
{
    float: left;
    width: 95%;
    height: 95%;
    padding: 2rem;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: #FEE2E2;
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: flex;
    justify-content: center;
    float: right;
    margin: 2rem auto;
    width: 80%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2968f8;
    color: #fff;
    box-shadow: 0 10px 20px rgba(41,104,248,.35);
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    display: block;
    text-decoration: none;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    color: white;
    box-shadow: 0 10px 20px rgba(41,104,248,.35);
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    --tw-bg-opacity: 1;
    background-color: #2b6cb0;
}

.top-actions > .actions a,
.top-actions > .actions a:hover,
.top-actions > .actions a:active
{
    background: #2968f8;
    color: #fff;
    box-shadow: 0 10px 20px rgba(41,104,248,.35);
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    display: block;
    text-decoration: none;
}

.top-actions > .actions .disabled a,
.top-actions > .actions .disabled a:hover,
.top-actions > .actions .disabled a:active
{
    color: white;
    box-shadow: 0 10px 20px rgba(41,104,248,.35);
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: .75rem;
    padding-top: .75rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    --tw-bg-opacity: 1;
    background-color: #2b6cb0;
}
.top-actions ul, .wizard ul {
    list-style: none!important;
    padding: 0;
    margin: 0;
}
.top-actions >.actions > ul {
    display: inline-flex;
}
.top-actions >.actions > ul > li {
    margin: 0 .75rem;
}
.top-actions > .actions{
    display: block!important;
}
.top-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}
@media (max-width: 768px) {
    .wizard.vertical>.content {
        width: 100%!important;
    }
    .wizard.vertical>.steps{
        display: flex!important;
        width: 100%!important;
        flex-wrap: wrap!important;
        flex-direction: row!important;
    }
    .wizard.vertical>.steps>ul>li {
        float: none;
        width: auto!important;
    }
    .top-actions ul, .wizard ul{
        width: 100%;
        display: flex;
    }
    .top-actions>.actions>ul{
        display: flex!important;
        flex-direction: column!important;
    }
    .top-actions>.actions a{
        margin-bottom: 1rem;
    }
}