{% set title = "О нас" %}

{% extends 'templates/_layout-base.twig' %}

{% block main %}
    {% include 'components/_header.twig' %}

    {% include 'components/_breadcrumb.twig' %}

    {% include 'components/_section-text-with-img.twig' %}

    {% include 'components/_section-icons.twig' %}

    {% include 'components/_section-form.twig' %}

    {% include 'components/_partners.twig' %}

    {% include 'components/_footer.twig' with { with_partners: 1} %}
{% endblock %}
