{% set title = "Контакты" %}

{% extends 'templates/_layout-base.twig' %}

{% block main %}

    {% include 'components/_header.twig' %}

    {% include 'components/_breadcrumb.twig' %}

    <!--CONTACTS-->
    <section>
      <div class="container py-2 px-5 mx-auto">
        <h1 class="text-5xl text-center pf-font-bold mb-5">Наши контакты</h1>
        <div class="flex flex-row flex-wrap justify-between">
          <div class="flex flex-col lg:pr-3 w-full lg:w-1/2 mb-7">
            <div class="text-xl pf-font-medium mb-5">Люберцы ул. Котельническая 11</div>
            <div class="flex-1 mb-5">
              <p>Ссылки для навигаторов: <a href="#" class="text-mlgreen pf-font-light text-lg hover:text-black mr-4">Яндекс.Карты</a> <a href="#" class="text-mlgreen pf-font-light text-lg hover:text-black">Google maps</a></p>
              <p>Ближайшие станции метро: Котельники, Жулебино, Лухмановская, Некрасовка</p>
            </div>
            <button class="modal-open md:w-1/3 bg-mblue text-white hover:bg-blue-500 shadow-blue px-5 py-2 mb-7">
              Оставить заявку
            </button>
            <div class="w-full">
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aff8f3229c878eec4b54c8ee05964aa5540222e37c8657da37365e47bf063b406&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
          </div>
          <div class="flex flex-col lg:pl-3 w-full lg:w-1/2 mb-7">
            <div class="text-xl pf-font-medium mb-5">Москва, м.Строгино ул. Маршала Прошлякова, вл. 17, стр. 1</div>
            <div class="flex-1 mb-5">
              <p>Ссылки для навигаторов: <a href="#" class="text-mlgreen pf-font-light text-lg hover:text-black mr-4">Яндекс.Карты</a> <a href="#" class="text-mlgreen pf-font-light text-lg hover:text-black">Google maps</a></p>
              <p>Ближайшие станции метро: Мякинино, Крылатское, Одинцово, Баковка, Щукинская, Тушино, Спартак</p>
            </div>
            <button class="modal-open md:w-1/3 bg-mblue text-white hover:bg-blue-500 shadow-blue px-5 py-2 mb-7">
              Оставить заявку
            </button>
            <div class="w-full">
              <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A65caa140d318ac556ebfe1a71630ba0ef20ede0cd62dde79d54eb4282ba85939&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>                </div>
          </div>
        </div>
      </div>
    </section>

    {% include 'components/_bank.twig' %}

    {% include 'components/_section-form-2.twig' %}

    {% include 'components/_section-reviews.twig' %}

    {% include 'components/_section-form-by-photo.twig' %}

    {% include 'components/_section-faq.twig' %}

    {% include 'components/_footer.twig' with { with_partners: 0} %}

{% endblock %}
