{% set title = "Цены" %}

{% extends 'templates/_layout-base.twig' %}

{% block main %}
    {% include 'components/_header.twig' %}

    {% include 'components/_breadcrumb.twig' %}

    {% include 'components/_prices.twig' %}

    {% include 'components/_section-form.twig' %}

    {% include 'components/_partners.twig' %}

    {% include 'components/_footer.twig' with { with_partners: 0} %}

{% endblock %}
