{% set title = "Вывоз" %}

{% extends 'templates/_layout-base.twig' %}

{% block main %}
    {% include 'components/_header.twig' %}

    {% include 'components/_breadcrumb.twig' %}

    {% include 'components/_section-text-slider.twig' %}

    {% include 'components/_section-table.twig' %}

    {% include 'components/_section-icons-2.twig' %}

    {% include 'components/_section-form-3.twig' %}

    {% include 'components/_section-text-with-video.twig' %}

    {% include 'components/_section-car-park.twig' %}

    {% include 'components/_footer.twig' with { with_partners: 0} %}

{% endblock %}
