<!--BANK-->
<section>
  <div class="container py-2 px-5 mx-auto">
    <h1 class="text-5xl text-center pf-font-bold mb-5">Реквизиты</h1>
    <div class="text-3xl pf-font-bold text-center mb-4">
      Общество с Ограниченной Ответственностью  «ТЗК МеталлТрейд»
    </div>
    <div class="flex flex-row flex-wrap justify-between">
      <div class="w-full sm:w-6/12 lg:w-3/12 mb-4 px-3">
        <p><strong>Адрес:</strong> 140000 Московская обл., г.о. Люберцы,
          г.Люберцы, ул.Котельническая, д.11, лит.К, пом.2</p>
        <p class="pf-font-medium text-lg">ПАО «Промсвязьбанк» г.Москва</p>
      </div>
      <div class="w-full sm:w-6/12 lg:w-3/12 mb-4 px-3">
        <p><strong>ОГРН</strong> 1167746758959</p>
        <p class="pf-font-medium text-lg"><strong>ИНН</strong> 7720349609</p>
      </div>
      <div class="w-full sm:w-6/12 lg:w-3/12 mb-4 px-3">
        <p><strong>КПП</strong> 502701001</p>
        <p class="pf-font-medium text-lg"><strong>р/сч</strong> 40702810600000099812</p>
      </div>
      <div class="w-full sm:w-6/12 lg:w-3/12 mb-4 px-3">
        <p><strong>БИК</strong> 044525555</p>
        <p class="pf-font-medium text-lg"><strong>к/сч</strong> 30101810400000000555</p>
      </div>
    </div>
  </div>
</section>
