<section class="py-5 bg-mgray">
    <div class="container sm:px-5 mx-auto">
        <h1 class="text-center">Cколько вы заработаете на сдаче металлолома?</h1>
        <form class="flex flex-row flex-wrap " id="questions">
                <span class="step">
                    <h4>Шаг 1</h4>
                    <p>Вид металла</p>
                </span>
                <section class="body">
                    <h3 class="text-center mb-5">Укажите вид металла</h3>
                    <div class="flex justify-center">
                        <input type="text" class="block border-2 border-black-800 w-full md:w-1/2 p-3" placeholder="Вид металла" id="type" name="type" required>
                    </div>
                    <div class="top-actions mx-auto"></div>
                </section>

                <span class="step">
                    <h4>Шаг 2</h4>
                    <p>Вес металла</p>
                </span>
                <section class="body">
                    <h3 class="text-center mb-5">Укажите вес металла</h3>
                    <div class="flex justify-center">
                        <input type="text" class="block border-2 border-black-800 w-full md:w-1/2 p-3" placeholder="Вес металла" id="weight" name="weight" required>
                    </div>
                    <div class="top-actions mx-auto"></div>
                </section>

                <span class="step">
                        <h4>Шаг 3</h4>
                        <p>Доставка</p>
                </span>
                <section class="body">
                    <h3 class="text-center mb-5">Нужно забирать металл или заберёте сами?</h3>
                    <div class="flex flex-row items-start justify-center mx-auto">
                        <div class="flex flex-row items-start mb-4 mr-4">
                            <label for="delivery-1">Привезу сам</label>
                            <input type="radio" class="flex self-center border-2 border-black-800 form-radio rounded-full ml-4" id="delivery-1" name="delivery" checked>
                        </div>
                        <div class="flex flex-row items-start mb-4">
                            <label for="delivery-2">Нужно забрать</label>
                            <input type="radio" class="flex self-center border-2 border-black-800 form-radio rounded-full ml-4" id="delivery-2" name="delivery">
                        </div>
                    </div>
                    <div class="top-actions mx-auto"></div>
                </section>

                <span class="step">
                            <h4>Шаг 4</h4>
                            <p>Контакты</p>
                        </span>
                <section class="body">
                    <h3 class="text-center mb-5">Укажите контакты</h3>
                    <div class="flex justify-center">
                        <div class="w-full md:w-1/2 p-4">
                            <input type="text" class="form-input block border-2 border-black-800 w-full" placeholder="Имя" id="name" name="name" required>
                        </div>
                        <div class="w-full md:w-1/2 p-4">
                            <input type="text" class="form-input block border-2 border-black-800 w-full" placeholder="Телефон" id="phone" name="phone" required>
                        </div>
                    </div>
                    <div class="top-actions mx-auto"></div>
                </section>
        </form>
    </div>
</section>
