<!--SECTION PRICES-->
<section class="py-5">
    <div class="container px-5 mx-auto">
        <h1 class="text-center">Стоимость приема металлолома</h1>
        <h3 class="text-center">Цена актуальные на 20.05.2021</h3>
        <div class="table-auto overflow-x-auto shadow-lg">
            <table>
                <thead>
                <tr>
                    <th>Фото</th>
                    <th>Требования к лому</th>
                    <th>Засор</th>
                    <th>Количество</th>
                    <th>Цена за тонну</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="p-4"><img src="../images/price1.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>ЗАЖД Железнодорожный лом: колесные диски, оси новые или б/у, рельсы длиной до 1500 мм, а также скрепления и накладки к ним, болты, костыли, подкладки и противоугоны.</td>
                    <td class="font-light text-center">0,5%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="17000">от 17 000 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price2.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>5АЖДБывшие в употреблении рельсы, оси с длиной от 1,5 м. Принимаются собранные колесные пары со срезанными буксами.</td>
                    <td class="font-light text-center">2,0%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="15000">от 15 000 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price3.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>ЗАБ Лом из стали: конструкции, куски железа, листового типа и профиля, плиты, трубы порезанные вдоль оси. Габариты кусков: 80х50х50 см, толщина от 0,8 см. Не входят в данную категорию детали механизмов, разобранные двигателя, оси автомобилей и редукторы. Кусок обязан быть весом от 2кг до 800.</td>
                    <td class="font-light text-center">1,5%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="15800">от 15 800 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price4.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>5АБЛом из стали кусковой, тяжелый. Включены порезанные трубы, части конструкций, изделия проката: листы, профиля, плиты. Принимается лом с размерами от 150х50х50 см и толщиной стенок от 0,8 см. Исключены их категории редукторы в разобранном виде, оси от грузовых автомобилей, отдельные детали двигателей...</td>
                    <td class="font-light text-center">2,0%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="14800">от 14 800 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price5.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>11АЛом из стали размером: 150х50х50 сантиметров при этом толщина стенок начиная с 0,4 сантиметра.</td>
                    <td class="font-light text-center">3,0%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="14500">от 14 500 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price6.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>17АЧугун: промышленный габаритный лом с размерами менее 150х50х50 см.
                        <br><br>Максимальный вес куска – 1000 кг.
                    </td>
                    <td class="font-light text-center">3,0%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="14500">от 14 500 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price7.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>22АЧугунный металлолом категории №3</td>
                    <td class="font-light text-center">3,0%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="13500">от 13 500 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price8.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>13АТросы, проволока из стали, не превышающие 10 м по длине, а также арматура с сечением менее 1 см.</td>
                    <td class="font-light text-center">7,0%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="11300">от 11 300 руб</td>
                </tr>
                <tr>
                    <td class="p-4"><img src="../images/price9.png" alt="Price" class="block mx-auto" width="167" height="129"></td>
                    <td>3А2Стальной лом с толщиной стенки от 4 мм, включая арматуру диаметром от 12 мм и длиной до 1000 мм.</td>
                    <td class="font-light text-center">1,5%</td>
                    <td>
                        <div class="flex flex-row justify-between p-2 w-full rounded-lg relative bg-transparent mt-1 border-2 border-mgray">
                            <button data-action="decrement" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" class="outline-none focus:outline-none text-center w-14 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                            <button data-action="increment" class="h-8 w-8 rounded-full text-white hover:text-mlgreen bg-mblue h-8 w-8 cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </td>
                    <td class="font-bold text-center text-xl price-in-table" data-price="14700">от 14 700 руб</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="flex justify-center w-full">
            <button class="border border-mlgreen text-mlgreen hover:text-black px-4 py-2 mt-7 w-60">Загрузить ещё</button>
        </div>
    </div>
</section>