<section class="overlay-section-white py-5" style="background-image: url('../images/bg-shema-work.jpg">
    <div class="container mx-auto px-5">
        <h1 class="text-center">Схема работы</h1>
        <div class="w-full py-6">
            <div class="flex flex-col md:flex-row">
                <div class="w-full mb-5 md:mb-0 md:w-1/4">
                    <div class="mb-5"><img src="../images/work1.png" alt="work" class="h-10 w-10 mx-auto block"></div>
                    <div class="relative mb-2">
                        <div class="absolute flex align-center items-center align-middle content-center line-half-left">
                            <div class="w-full bg-mavgray rounded items-center align-middle align-center flex-1">
                                <div class="w-0 bg-green-300 px-1 md:py-1 rounded" style="width: 50%;"></div>
                            </div>
                        </div>
                        <div class="w-10 h-10 mx-auto bg-mdgray border-4 border-white rounded-full text-lg text-white flex items-center">
                          <span class="text-center font-bold text-white w-full">
                            01
                          </span>
                        </div>
                    </div>

                    <div class="text-xs text-center md:text-base">Заявка по телефону или через сайт</div>
                </div>

                <div class="w-full mb-5 md:mb-0 md:w-1/4">
                    <div class="mb-5"><img src="../images/work2.png" alt="work" class="h-10 w-10 mx-auto block"></div>
                    <div class="relative mb-2">
                        <div class="absolute flex align-center items-center align-middle content-center line-full">
                            <div class="w-full bg-mavgray rounded items-center align-middle align-center flex-1">
                                <div class="w-0 bg-green-300 px-1 md:py-1 rounded" style="width: 100%;"></div>
                            </div>
                        </div>

                        <div class="w-10 h-10 mx-auto bg-mdgray border-4 border-white rounded-full text-lg text-white flex items-center">
                          <span class="text-center font-bold text-white w-full">
                            02
                          </span>
                        </div>
                    </div>

                    <div class="text-xs text-center md:text-base">К вам отправляется машина или вы привозите металл сами</div>
                </div>

                <div class="w-full mb-5 md:mb-0 md:w-1/4">
                    <div class="mb-5"><img src="../images/work3.png" alt="work" class="h-10 w-10 mx-auto block"></div>
                    <div class="relative mb-2">
                        <div class="absolute flex align-center items-center align-middle content-center line-full">
                            <div class="w-full bg-mavgray rounded items-center align-middle align-center flex-1">
                                <div class="w-0 bg-green-300 px-1 md:py-1 rounded" style="width: 100%;"></div>
                            </div>
                        </div>

                        <div class="w-10 h-10 mx-auto bg-mdgray border-4 border-white rounded-full text-lg text-white flex items-center">
                          <span class="text-center font-bold text-white w-full">
                           03
                          </span>
                        </div>
                    </div>

                    <div class="text-xs text-center md:text-base">Мы делаем оценку и расчет стоимости</div>
                </div>

                <div class="w-full mb-5 md:mb-0 md:w-1/4">
                    <div class="mb-5"><img src="../images/work4.png" alt="work" class="h-10 w-10 mx-auto block"></div>
                    <div class="relative mb-2">
                        <div class="absolute flex align-center items-center align-middle content-center line-full">
                            <div class="w-full bg-mavgray rounded items-center align-middle align-center flex-1">
                                <div class="w-0 bg-green-300 px-1 md:py-1 rounded" style="width: 100%;"></div>
                            </div>
                        </div>

                        <div class="w-10 h-10 mx-auto bg-mdgray border-4 border-white rounded-full text-lg text-white flex items-center">
                          <span class="text-center font-bold text-white w-full">
                            04
                          </span>
                        </div>

                        <div class="absolute flex align-center items-center align-middle content-center line-half-right">
                            <div class="w-full bg-mavgray rounded items-center align-middle align-center flex-1">
                                <div class="w-0 bg-green-300 px-1 md:py-1 rounded" style="width: 50%;"></div>
                            </div>
                        </div>

                    </div>

                    <div class="text-xs text-center md:text-base">Оплачиваем вам полную стоимость металла</div>
                </div>
            </div>
        </div>
    </div>
</section>