<!--SECTION TABLE-->
<section>
  <div class="container sm:px-5 mx-auto">
    <figure class="wp-block-table is-style-regular">
      <table class="has-fixed-layout">
        <thead>
        <tr>
          <th>Категория</th>
          <th>Описание</th>
          <th>Цена за тонну</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Простой демонтаж (резка металла)</td>
          <td>Легкий демонтаж предполагает работы с металлоконструкциями, в среднем, до 5 метров высотой, не требующие
            использования спецтехники. Среди них: гаражи, производственное оборудование, станки, трубы, коммуникации,
            заборы.
          </td>
          <td>от 1 000 руб</td>
        </tr>
        <tr>
          <td>Демонтаж средней степени сложности</td>
          <td>Демонтаж средней сложности предполагает проведения работ с более сложными конструкциями. Среди них:
            ангары,
            склады, краны, рекламные щиты и т.д. В данном случае требуется применение специализированной техники.
          </td>
          <td>от 1 500 руб<br>до 3 000 руб</td>
        </tr>
        <tr>
          <td>Сложный демонтаж</td>
          <td>Демонтаж высокого уровня. Требует экспертности в проведении демонтажных работ, а также особой
            предварительной
            подготовки. В данном случае использование спецтехники неизбежно. Конструкции, подлежащие сложному демонтажу,
            как
            правило, имеют высоту свыше 20 метров. Среди них: вышки, здания, водные и воздушные транспортные средства,
            железнодорожный транспорт.
          </td>
          <td>от 3 000 руб</td>
        </tr>
        </tbody>
      </table>
    </figure>
  </div>
</section>
