<section class="-mt-28" style="z-index: 2;position: relative">
    <div class="container sm:px-5 mx-auto">
        <div class="flex flex-col lg:flex-row flex-wrap shadow-around">
            <div class="bg-white w-full lg:w-7/12 p-4 px-5">
                <h1>Сдать металлолом это просто!</h1>
                <p class="text-lg">Позвоните нам по телефону или заполните форму, и в этот же день мы обменяем ваш металлолом на деньги</p>
                <a href="tel:+74956680359" class="w-auto text-mdblue hover:text-mlgreen font-bold text-2xl pf-font-medium no-underline">+ 7 (495) 668-03-59</a>
            </div>
            <div class="bg-mblue w-full lg:w-5/12 p-4 px-5">
                <form action="" id="form-4">
                    <div class="flex flex-col md:flex-row justify-center">
                        <label class="block w-full md:w-1/2 px-2 py-2">
                            <input class="form-input w-full placeholder-white mt-1 block bgl-transparent w-full border-2 border-white" type="text"
                                   placeholder="Имя" required>
                        </label>

                        <label class="block w-full md:w-1/2 px-2 py-2">
                            <input class="form-input w-full placeholder-white mt-1 block bgl-transparent w-full border-2 border-white" type="text"
                                   placeholder="Вес лома" required>
                        </label>
                    </div>

                    <div class="flex mt-6 text-center w-full pf-font-light text-lg">
                        <label class="flex flex-col md:flex-row justify-center items-center w-full text-white">
                            <input type="checkbox" name="policy" class="form-checkbox bgl-transparent border-2 border-white" required>
                            <span class="ml-2 text-white">Я согласен(а) с обработкой персональных данных*</span>
                        </label>
                    </div>
                    <div class="flex justify-center mt-4">
                        <button type="submit"
                                class="mx-auto bg-white text-lg font-regular font-medium text-mblue hover:bg-gray-200 shadow-blue px-9 py-3">
                            Записаться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>