<section class="py-5 section-text">
    <div class="container sm:px-5 mx-auto">
        <div class="flex flex-col lg:flex-row flex-wrap shadow-around">
            <div class="w-full lg:w-8/12 p-5">
                <h1>Гарантии при приеме лома</h1>
                <ul>
                    <li>Максимальная цена вне конкуренции на рынке!</li>
                    <li>Большое количество пунктов приема по Москве и МО. Гарантируем выгрузку на ближайший пункт приёма!</li>
                    <li>В 100% случаев вывозим металлолом бесплатно!</li>
                    <li>В 90% случаев демонтируем металлоконструкции бесплатно!</li>
                    <li>Подачу техники обеспечиваем в течение 45 минут с ближайшей базы! Наши логисты подбирают свободную технику без задержек!</li>
                    <li>Гарантируем моментальную оплаты сразу после взвешивания! Деньги в кассе есть всегда!</li>
                    <li>Наши весы постоянно проходят поверку. Гарантированно честное взвешивание предлагаемое нами является поистине редкостью в сфере металлолома!</li>
                    <li>Гарантируем своевременное исполнение взятых на себя обязательств, акций и спецпредложений!</li>
                </ul>
            </div>
            <div class="hidden lg:block w-full lg:w-4/12">
                <img src="../images/garantii.png" alt="garantii" class="block" style="margin-top: -4rem">
            </div>
        </div>
        <div class="bg-mgray p-5 px-7">
            <p class="text-mlblue text-lg">Для уточнения деталей вы можете обратиться к своему менеджеру – он проконсультирует и оперативно урегулирует все возникшие вопросы. При возникновении любых трудностей при приемке, вывозе металлолома или демонтаже – сообщите нам об этом.</p>
            <button class="modal-open mt-4 mx-auto bg-mblue text-lg font-regular font-medium text-white hover:bg-blue-500 shadow-blue px-9 py-3">
                Связаться с руководством
            </button>
        </div>
    </div>
</section>