<section class="py-5 pb-7 bg-mgray">
    <div class="container px-5 mx-auto">
        <h1 class="text-center">
            Где наши пункты приема находятся
        </h1>
        <img src="../images/map.png" alt="map" class="block mx-auto">
    </div>
</section>