<!--ICONS-->
<section class="py-5">
    <div class="container py-2 px-5 mx-auto ">
        <h1 class="text-center">Более 12 лет успешной работы</h1>
        <div class="flex flex-row flex-wrap text-center">
            <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
                <div class="bg-white shadow-around h-24 w-24 rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons1.png" alt="Icon" class="mx-auto block"></div>
                <p>Проверенные и опломбированные весы</p>
            </div>
            <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
                <div class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons2.png" alt="Icon" class="mx-auto block"></div>
                <p>Большой автопарк - ломовозы, Валдаи, Газели</p>
            </div>
            <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
                <div class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons5.png" alt="Icon" class="mx-auto block"></div>
                <p>Более 5 000 тонн лома вывозим ежемесячно</p>
            </div>
            <div class="w-full mx-auto lg:w-1/4 mb-4 px-3">
                <div class="bg-white h-24 w-24 shadow-around rounded-full p-5 mb-4 mx-auto flex content-center items-center"><img src="../images/icons6.png" alt="Icon" class="mx-auto block"></div>
                <p>Работаем по всей Москве и Московской области</p>
            </div>

        </div>
    </div>
</section>
