<!--FORM BY PHOTO-->
<section class="py-5 overlay-section-white-half flex content-center align-center" style="background-image: url('../images/bg-form-by-photo.png')">
  <div class="container py-2 px-5 mx-auto">
    <div class="w-full lg:w-6/12">
      <h1 class="text-5xl pf-font-medium mb-5">Оценим лом по фото</h1>
      <p>Пришлите фотографию металлолома через форму ниже и мы сообщим ориентировочную стоимость лома уже через пару минут.</p>
      <p class="pf-font-medium text-2xl text-mdlue mt-4 mb-4">Отправить фото на оценку</p>
      <form action="/" class="mb-7" id="form-by-photo">
        <div class="flex flex-col md:flex-row justify-between  items-center align-center content-center">
          <div class="w-full md:w-7/12 md:pr-2 mb-5">
            <label class="block w-full h-16">
              <input name="phone" class="form-input block bgl-transparent w-full border-2 border-gray-400 h-16" type="text" placeholder="Телефон" required>
            </label>
          </div>
          <div class="w-full md:w-5/12 md:pl-2 mb-5 flex content-center">
            <label for="file-upload" class="w-full md:w-auto h-16 form-input hover:border-mblue hover:text-mblue font-regular font-medium text-2xl custom-file-upload block line-unset px-2 py-2">Добавить фото</label>
            <input id="file-upload" class="block form-input" name='img' type="file" style="display:none;" required>
          </div>
        </div>
        <div class="w-full mb-5 flex content-center">
          <button type="submit" class="w-full md:w-auto h-16 bg-mblue text-lg pf-font-medium text-white hover:bg-blue-500 shadow-blue px-9 py-3">Узнать цену</button>
        </div>
      </form>
      <p>Также вы можете переслать фото в популярных мессенджерах.</p>
      <div class="flex flex-col sm:flex-row flex-wrap">
        <div class="w-full mb-2 text-center flex flex-row content-center align-center flex-wrap lg:text-left lg:justify-start lg:w-auto">
          <a href="#" class="w-auto text-mlgreen text-2xl text-lg pf-font-medium no-underline p-2 py-1">
            <i class="fab fa-viber shadow-mlgreen rounded-full"></i>
          </a>
          <a href="#" class="w-auto text-mlgreen text-2xl text-lg pf-font-medium no-underline p-2 py-1">
            <i class="fab fa-whatsapp shadow-mlgreen rounded-full"></i>
          </a>
          <a href="tel:+74956680359" class="w-auto text-mdblue hover:text-mlgreen font-bold text-3xl pf-font-medium no-underline">+ 7 (495) 668-03-59</a>
        </div>
      </div>
    </div>
  </div>
</section>
